body{
  background: rgb(34,148,195);
  background: linear-gradient(132deg, rgba(34,148,195,1) 0%, rgba(69,141,184,1) 25%, rgba(127,203,166,1) 50%, rgba(253,251,45,1) 100%);}
    h1{
      color: 	#00FF00;
      /* -webkit-text-stroke: 0.001px rgba(0,0,0,0.5);
      ; */
      font-family: 'Jura', sans-serif;
    }
    p{font-family: 'Jost', sans-serif;}
    h5{font-family: 'Russo One', sans-serif;}
    .batteryred {color: red;}
    .batteryredyellow {color: orange;}
    .batteryyellow {color: rgb(204, 204, 0);}
    .batteryyelowgreen {color: yellowgreen;
    -webkit-text-stroke: 0.2px rgba(0,0,0,0.5);
      ;}
    .battrrygreen {color: green;}
    .battrrypoln {color: grey;}
    .mi_block0 {color: rgb(90, 0, 131);}
    .mi_block1 { color: rgb(10, 103, 180)}
    .mi_block2 { color: rgb(76, 63, 251)}
    .mi_block3 { color: rgb(168, 2, 2)}
    .mi_block4 { color: rgb(2, 168, 132)}
    .mi_block5 {color: rgb(41, 43, 35);}
    .mi_block6 {color: rgb(72, 78, 53);}
    .mi_block7 {color: #D2B48C;}
    .mi_block8 {color: rgb(	175, 238, 238);}
    .mi_block9 {color: rgb(32, 178, 170);}
    .mi_block10 {color: rgb(101, 111, 255);}
    .mi_block11 {color: chocolate;}
    .mi_block12 {color: coral;}
    .telegram {color: rgb(0, 136, 204)}
    .fire {border-image: url(../img/12.jpg);}
    .telegalang {color: white;
                background-color: rgb(0, 162, 255);}
    .new {position: absolute;
    top: 0;
    left: 0;
  }
  .arrowrr {color: rgb(224, 228, 8);}
  .arrowll {color: rgba(127,203,166,1);}
    
  
