.first {
  padding: 15px;
}

.phone {
  font-family: "Verdana";
  font-size: 18px;
  align: right;
}

.phone a {
  color: #000;
}

.call a {
  border-radius: 25px;
}

.second {
  font-family: "Times New Roman";
  color: #fff;
  background-color: #3a5896;
  position: relative;
}

.second h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-top: 25px;
}

.second p {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 25px;
}

.figura {
  position: absolute;
  /* outline: 1px solid red; */
  bottom: -30px;
  left: calc(50% - 31px);
  width: 61px;
  height: 31px;

  border-style: solid;
  border-width: 31px 30.5px 0 30.5px;
  border-color: #3a5996 transparent transparent transparent;
}
